@model IEnumerable<BulletinBoardWeb.Models.ImageFile>

@{
    const string title = "画像アップロード";
    ViewData["Title"] = title;
}

<h1>@title</h1>

<p>
    <a asp-action="Upload">新規アップロード</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @*アクションメソッドですべてのデータを Model として受け取っているので、Model に含まれる画像のバイト列を Data URL 形式に変換して src 属性に設定することにより画像を表示できる。*@
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" alt="@item.Name" title="@item.Name" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
